<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <?define var.product_id          = "{329B0DB0-4636-46EB-94DB-56A79AFC9750}"?>
    <?define var.product_ucode       = "{827E9DBD-C9B9-4B52-A752-C771BD2EC3B1}"?>
    <?define var.product_name        = "Active Directory Inspector"?>
    <?define var.product_menu        = "Active Directory Inspector"?>
    <?define var.product_desc        = "Active Directory Inspector - IP to user name mapper to be used by Web Safety ICAP web filter for Squid (version $(var.VERSION)"?>
    <?define var.product_contact     = "support@diladele.com"?>
    <?define var.product_support     = "support@diladele.com"?>
    <?define var.reg_path            = "Software\Diladele\Active Directory Inspector\1.0"?>
    <?define var.product_lang        = "1033"?>
    <?define var.manufacturer        = "Diladele"?>
    <?define var.manufacturer_url    = "https://www.diladele.com"?>
    <?define var.service_name        = "wsadi"?>
    <?define var.service_displayname = "$(var.product_name)"?>
    <?define var.service_desc        = "Enumerates all workstations in the Active Directory and maps IP address to user name currently logged in on that IP"?>

    <Product 
        Id="$(var.product_id)" 
        UpgradeCode="$(var.product_ucode)" 
        Name="$(var.product_name)" 
        Language="$(var.product_lang)" 
        Codepage='0' 
        Version="$(var.VERSION)"  
        Manufacturer="Diladele B.V.">
        
        <Package Id="*" 
            Compressed="yes"
            Comments="This installer database contains the logic and data required to install Active Directory Inspector by Diladele B.V."
            Description="$(var.product_desc)"
            InstallerVersion="400" 
            InstallScope="perMachine"  
            Platform="x64"
            Languages='1033'
            SummaryCodepage='0'
        />
        
        <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A newer version of this application is already installed."/>        
        <Condition Message="This application runs only on Windows 7 and above.">VersionNT >= 601</Condition>
        
        <Property Id='ARPCONTACT'>$(var.product_contact)</Property>
        <Property Id='ARPHELPLINK'>$(var.manufacturer_url)</Property>
        <Property Id='ARPURLINFOABOUT'>$(var.manufacturer_url)</Property>
        <Property Id='ARPURLUPDATEINFO'>$(var.manufacturer_url)</Property>
        <Property Id='ARPHELPTELEPHONE'>$(var.product_support)</Property>
        <Property Id="ARPPRODUCTICON" Value="application.ico"/>
        <Property Id='ARPNOMODIFY'>1</Property>
        <Property Id='ARPNOREPAIR'>1</Property>
                
        <!-- directories -->
        <Media Id="1" Cabinet="Product.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">            
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="CompanyDir" Name="$(var.manufacturer)">
                    <Directory Id="INSTALLDIR" Name="$(var.product_name)">                        
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="CommonAppDataFolder">
                <Directory Id="CommonAppDataFolder_CompanyDir" Name="$(var.manufacturer)">
                    <Directory Id="CommonAppDataFolder_CompanyDir_Project" Name="$(var.product_name)">                        
                    </Directory>
                </Directory>
            </Directory>            
        </Directory>

        <!-- Features -->
        <Feature 
            Id='Complete' 
            Title='Application Files' 
            Description='All files.' 
            Display='expand' 
            AllowAdvertise='no' 
            InstallDefault='local' 
            Absent='disallow' 
            Level='1' 
            ConfigurableDirectory='INSTALLDIR'>
        
            <!-- executables -->
            <ComponentRef Id="Diladele.ActiveDirectory.Service.exe"/>
            <ComponentRef Id="Diladele.ActiveDirectory.Service.pdb"/>
            <ComponentRef Id="Diladele.ActiveDirectory.Service.exe.config"/>
            <ComponentRef Id="Diladele.ActiveDirectory.Inspection.dll"/>
            <ComponentRef Id="Diladele.ActiveDirectory.Inspection.pdb"/>
            <ComponentRef Id="Diladele.ActiveDirectory.Config.dll"/>
            <ComponentRef Id="Diladele.ActiveDirectory.Config.pdb"/>
            <ComponentRef Id="Diladele.ActiveDirectory.Server.dll"/>
            <ComponentRef Id="Diladele.ActiveDirectory.Server.pdb"/>
            <ComponentRef Id="log4net.dll"/>
            <ComponentRef Id="MachineWideConfigurationInRegistry"/>
        </Feature>
        
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="bannrbmp.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="dlgbmp.bmp" />        
        
        <Icon Id="remove.ico" SourceFile="remove.ico"/>
        <Icon Id="application.ico" SourceFile="application.ico"/>
        <UI>
            <UIRef Id="WixUI_FeatureTree" />            
            <Error Id="1000">
                <![CDATA[This product requires Microsoft Windows 7 or above.]]>
            </Error>
            <Error Id="1001">
                <![CDATA[This installation package is not supported by this processor type. Contact your product vendor.]]>
            </Error>            
        </UI>

        <DirectoryRef Id="TARGETDIR">
            <Component Id="MachineWideConfigurationInRegistry" Guid="{302A7A28-3A44-4B32-BE88-759DE72BE17F}" KeyPath="yes" Win64="yes">
                <RegistryKey Root="HKLM" Key="$(var.reg_path)">                    
                    <RegistryKey Key="Server">
                        <RegistryValue Name="ListenPort" Type="string" Value="8000"/>
                    </RegistryKey>
                    <RegistryKey Key="Daemon">
                        <RegistryValue Name="ResponderText" Type="string" Value="[INSTALLDIR]blocked.html"/>
                        <RegistryValue Name="ResponderTextAdult" Type="string" Value="[INSTALLDIR]blocked_adult.html"/>
                        <RegistryValue Name="ResponderTextDomains" Type="string" Value="[INSTALLDIR]blocked_domains.html"/>                        
                        <RegistryValue Name="ResponderImage" Type="string" Value="[INSTALLDIR]transparent.gif"/>
                    </RegistryKey>
                    <RegistryKey Key="GUI">
                        <RegistryValue Name="MinimizeToSystemTray" Type="integer" Value="0"/>
                    </RegistryKey>
                </RegistryKey>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="INSTALLDIR">
            
            <Component Id="Diladele.ActiveDirectory.Service.exe" Guid="{12D66ACF-08DE-481B-BC34-869C7B63B001}" Win64="yes">
                
                <File Id='Diladele.ActiveDirectory.Service.exe' Name='Diladele.ActiveDirectory.Service.exe' Checksum='yes' KeyPath='yes' DiskId='1' Vital='yes' Source='$(var.OUTDIR)\Diladele.ActiveDirectory.Service.exe'/>
                <ServiceInstall Id='wsadi' DisplayName='$(var.service_displayname)' Name='$(var.service_name)' ErrorControl='normal' Description='$(var.service_desc)' Start='auto' Type='ownProcess' Vital='yes' Interactive='no'>
                    <util:PermissionEx ServiceStart='yes' User='LocalService'/>
                </ServiceInstall>
                <ServiceControl Id='wsadi' Name='$(var.service_name)' Start='install' Stop='both' Remove='uninstall'/>
                <RegistryKey Root="HKLM" Key="$(var.reg_path)">
                    <RegistryValue Type="string" Name="InstallDir" Value="[INSTALLDIR]"/>                    
                </RegistryKey>
            </Component>

            <Component Id="Diladele.ActiveDirectory.Service.pdb" Guid="{9339FEB1-B0EE-46A0-81B1-FB5C0D6F8888}" Win64="yes">
                <File Id='Diladele.ActiveDirectory.Service.pdb' Checksum='yes' KeyPath='yes' DiskId='1' Vital='yes' Source='$(var.OUTDIR)\Diladele.ActiveDirectory.Service.pdb'/>
            </Component>

            <Component Id="Diladele.ActiveDirectory.Service.exe.config" Guid="{F9909D87-5341-49C7-929E-96E31B6AE629}" Win64="yes">
                <File Id='Diladele.ActiveDirectory.Service.exe.config' Checksum='yes' KeyPath='yes' DiskId='1' Vital='yes' Source='$(var.OUTDIR)\Diladele.ActiveDirectory.Service.exe.config'/>
            </Component>
            
            
            <Component Id="Diladele.ActiveDirectory.Inspection.dll" Guid="{0BFDE8CD-05EA-4E1A-B1AC-4B2BE354464E}" Win64="yes">
                <File Id='Diladele.ActiveDirectory.Inspection.dll' Checksum='yes' KeyPath='yes' DiskId='1' Vital='yes' Source='$(var.OUTDIR)\Diladele.ActiveDirectory.Inspection.dll'/>
            </Component>

            <Component Id="Diladele.ActiveDirectory.Inspection.pdb" Guid="{3A172E00-5635-46EC-A2C1-83905FE600B4}" Win64="yes">
                <File Id='Diladele.ActiveDirectory.Inspection.pdb' Checksum='yes' KeyPath='yes' DiskId='1' Vital='yes' Source='$(var.OUTDIR)\Diladele.ActiveDirectory.Inspection.pdb'/>
            </Component>

            <Component Id="Diladele.ActiveDirectory.Config.dll" Guid="{321E599B-8034-4EB8-B2D6-4E483512A684}" Win64="yes">
                <File Id='Diladele.ActiveDirectory.Config.dll' Checksum='yes' KeyPath='yes' DiskId='1' Vital='yes' Source='$(var.OUTDIR)\Diladele.ActiveDirectory.Config.dll'/>
            </Component>

            <Component Id="Diladele.ActiveDirectory.Config.pdb" Guid="{F5FB1C76-04D3-4F2A-9098-8670DBEDA752}" Win64="yes">
                <File Id='Diladele.ActiveDirectory.Config.pdb' Checksum='yes' KeyPath='yes' DiskId='1' Vital='yes' Source='$(var.OUTDIR)\Diladele.ActiveDirectory.Config.pdb'/>
            </Component>

            <Component Id="Diladele.ActiveDirectory.Server.dll" Guid="{D92BD129-5803-4DDE-8E70-4764A31338DB}" Win64="yes">
                <File Id='Diladele.ActiveDirectory.Server.dll' Checksum='yes' KeyPath='yes' DiskId='1' Vital='yes' Source='$(var.OUTDIR)\Diladele.ActiveDirectory.Server.dll'/>
            </Component>

            <Component Id="Diladele.ActiveDirectory.Server.pdb" Guid="{86938940-CA76-4478-A1AD-0B0509BADE42}" Win64="yes">
                <File Id='Diladele.ActiveDirectory.Server.pdb' Checksum='yes' KeyPath='yes' DiskId='1' Vital='yes' Source='$(var.OUTDIR)\Diladele.ActiveDirectory.Server.pdb'/>
            </Component>

            <Component Id="log4net.dll" Guid="{E0EC1BF5-92F0-4E11-BBB4-C6F40DC8F4FD}" Win64="yes">
                <File Id='log4net.dll' Checksum='yes' KeyPath='yes' DiskId='1' Vital='yes' Source='$(var.OUTDIR)\log4net.dll'/>
            </Component>

        </DirectoryRef>      
        
        <InstallUISequence>
            <Custom Action="CA.HasSupportedOS" Sequence="1"><![CDATA[NOT Installed AND VersionNT64 < 501]]></Custom>            
        </InstallUISequence>        
        <CustomAction Id="CA.HasSupportedOS" Error="1000" Execute="firstSequence" />
        <CustomAction Id="CA.SaveTargetDir" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" /> 
    </Product>
</Wix>

